{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<section class="hero">
	<div>
	<marquee><h3>Bonjour et bienvenue dans:</h3></marquee>
	</div>

		<div class="example-wrapper"></div>
		<h1>{{ controller_name }}</h1>
		<div>

			<h3>SYMPLICITY AND ELEGANCE</h3>
		</div>
		<div class="section">
			<p class="p">Bonjour et bienvenue sur notre site
				<br>
				ou vous retrouvrez une très jolie selection de robes de mariage<br>
				conçu rien que pour vous satisfaire.<br>
			</p>
		</div>
	</section>
{% endblock %}
