{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<section class="hero">

		<h1>{{ controller_name }}</h1>
		<div>

			<h3>SYMPLICITY AND ELEGANCE</h3>
		</div>
		<a href="{{ path('app_robes')}} " class="cta-button">Découvrez nos collections</a>


		<div class="section">
			<p class="p">

				Bienvenue dans l’univers magique de<span style="font-weight: bold" ;>
					Robes De Noce</span>, où chaque robe raconte une histoire d’amour unique.
			</p>


		</div>
	</section>
{% endblock %}
