{% extends 'base.html.twig' %}

    {% block body %}
    
    <div class="container mt-5 text-center">
        <h1 class="mb-4">Confirmation de votre adresse email</h1>
    
        <p class="lead">
            Merci de confirmer votre adresse email en cliquant sur le lien ci-dessous :
        </p>
    
        <div class="mt-3">
            <a href="{{ signedUrl }}" class="btn btn-primary btn-lg">Confirmer mon email</a>
        </div>
    
        <p class="mt-3 text-muted">
            Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
        </p>
    
        <p class="mt-4">Merci et à bientôt !</p>
    </div>
    
    {% endblock %}
    
