{% block body %}


	<div class="footer">
		<ul>
			<li>
				<a href="{{path('app_about_us')}}">Qui sommes-nous</a>

			</li>
			<li>
				<a href="{{path('app_contact')}}">Contactez-nous</a>
			</li>

			<li>
				<a href="{{path('app_cgv')}}">CGV</a>

			</li>
			<li>
				<a href="{{path('app_f_a_q')}}">FAQ</a>

			</li>

		</ul>
		<ul>
			<li><a href="#" title="Instagram"><img src="https://via.placeholder.com/24x24" alt="Instagram"></a></li>

			<li><a href="#" title="Facebook"><img src="https://via.placeholder.com/24x24" alt="Facebook"></a></li>

			<li><a href="#" title="YouTube"><img src="https://via.placeholder.com/24x24" alt="YouTube"></a></li>

			<li><a href="#" title="TikTok"><img src="https://via.placeholder.com/24x24" alt="TikTok"></a></li>

		</ul>
	</div>
{% endblock %}
