{% block body %}


	<div class="footer">
		<ul>
			<li>
				<a href="">Qui sommes nous</a>
			</li>
			<li>
				<a href="">Contact</a>
			</li>

			<li>
				<a href="">CGV</a>
			</li>
			<li>
				<a href="{{path('app_f_a_q')}}">FAQ</a>

			</li>
		</ul>
		<ul>
			<li><a href="">Instagram</a></li>
			<li><a href="">Facebook</a></li>
			<li><a href="">YouTube</a></li>
			<li><a href="">Tiktok</a></li>
		</ul>
	</div>
{% endblock %}
