{% extends 'base.html.twig' %}

{% block title %}Hello FooterController!{% endblock %}

{% block body %}

<h1>{{ controller_name }}</h1>
<div class="footer">
    <h2>je suis le footer</h2>
</div>
{% endblock %}
