{% block body %}


	<div class="footer">
		<ul>
			<li>
				<a href="{{path('app_about_us')}}">Qui sommes-nous</a>

			</li>
			<li>
				<a href="{{path('app_contact')}}">Contactez-nous</a>
			</li>

			<li>
				<a href="{{path('app_cgv')}}">CGV</a>

			</li>
			<li>
				<a href="{{path('app_f_a_q')}}">FAQ</a>

			</li>

		</ul>
		<ul>
			<li>
				<a href="https://www.instagram.com/ilhem.nouira" title="Instagram" target="_blank" rel="noopener noreferrer">
					<img src="/assets/images/instagram.png" alt="Instagram"></a>Instagram</li>


			<li>
				<a href="#" title="Facebook"><img src="/assets/images/facebook.png" alt="facebook"></a>Facebook</li>


			<li>
				<a href="#" title="YouTube"><img src="/assets/images/youtube.png" alt="youtube"></a>YouTube</li>


			<li>
				<a href="#" title="tic-tac"><img src="/assets/images/tic-tac.png" alt="tic-tac"></a>TikTok</li>


		</ul>
	</div>
{% endblock %}
