* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-wrap: wrap;
}
.hero {
  width: 100%;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: slideShow 60s infinite;
}

@keyframes slideShow {
  0% {
    background-image: url(../images/240_F_524893446_iW5iAgLPXNHOnAh4yc3bCZ48rwlPwf3m.jpg);
  }
  25% {
    background-image: url(../images/fond.jpg);
  }

  50% {
    background-image: url(../images/DALL·E\ 2024-12-02\ 10.12.10\ -\ A\ sophisticated\ and\ elegant\ design\ for\ a\ bridal\ website\ background\,\ resembling\ the\ first\ image\ with\ a\ soft\ pastel\ color\ scheme\ in\ white\ and\ blush\ pink.webp);
  }
  75% {
    background-image: url(../images/wedding-2589802_640.jpg);
  }
  100% {
    background-image: url(../images/robes_de_noces.png);
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1 {
  color: #201e1e;
  text-align: center;
  font-size: 72px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  color: #211e1e;
  text-align: center;
}
h4 {
  color: #211e1e;
  text-align: center;
}

.navbar {
  background-color: #211e1e;
  color: #fcfbfb;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.navbar-brand img {
  max-width: 150px;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar-brand img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-links li {
  display: inline-block;
}

.navbar-links #logo_panier {
  display: flex;
  align-items: center;
}

.navbar-links #a_panier {
  padding-right: 0;
}

.navbar-links a {
  color: #fbf8f8;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 7px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
  border: 1px solid transparent;
}

.navbar-links a:hover {
  background-color: #555;
  color: #fff;
  border: 1px solid #555;
}
.navbar-links img:hover {
  background-color: #555;
  color: #fff;
  border: 1px solid #555;
}

.login {
  background: rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(80, 78, 78);
  max-width: 700px;
  text-align: center;
  margin: auto;
}

.contenaire {
  margin: auto;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  padding: 30px;
  max-width: 700px;
}

.errors {
  color: #e74c3c;
  font-size: 14px;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: #211e1e;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #555;
  outline: none;
}

input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
}

button.btn {
  background-color: #555;
  color: #fbf8f8;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

button.btn:hover {
  background-color: #b19e9e;
  transform: scale(1.02);
}

.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.alert.alert-danger {
  background-color: #f4220b;
  color: #fff;
}

.section {
  min-height: 300px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.section .p {
  color: #3b3a3a;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 30px;
  height: 200px;
  width: 500px;
  margin-top: 75px;
  margin-bottom: 50px;
  background: rgba(75, 73, 73, 0.2);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

.description {
  display: flex;
  flex-direction: column;
  background-color: #ebe2e2;
}
.produit {
  margin-left: 50px;
  margin-top: 150px;
  padding-bottom: 30px;
}

.produit img {
  width: 250px;
  height: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  transition: transform 0.1s;
  margin-bottom: 40px;
  margin-right: 20px;
  transition: 0.3s;
}
.produit img.clicked {
  -ms-transform: scale(1.2) scaleX(-1); /* IE 9 */
  -webkit-transform: scale(1.2) scaleX(-1); /* Safari 3-8 */
  transform: scaleX(-1);
}

.produit img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.p {
  width: 200px;

  color: #7a5e50;
}
.p h2 {
  color: #5b4747;
}

.detailsProduit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detailsProduit img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.detailsProduit .p {
    max-width: 400px;
}

.detailsProduit h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

.detailsProduit p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}

.detailsProduit .prix {
    font-weight: bold;
    color: #d9534f;
}

#optionsTailles {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.couleurs {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.couleurs div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
   
}
.couleurs a{
  text-decoration: none;
}

.couleurs .blanc {
    background-color: #ffffff;
    color: #000;
}

.couleurs .rouge {
    background-color: #d9534f;
}

.couleurs .rose {
    background-color: #ffc0cb;
    color: #000;
}

.couleurs .ivoire {
    background-color: #fffff0;
    color: #000;
}

button.btn-success {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn-success:hover {
    background-color: #4cae4c;
}

#success_add {
    color: #28a745;
    font-size: 14px;
    margin-top: 10px;
}


.contact {
  background-color: #9d9b9b;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  max-width: 700px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.section_aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutUs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#aboutUs {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
}
.video {
  width: 600px;
  height: 600px;
  border-radius: 10px;

  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  background-image: url(../images/fond\ blanc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.video:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.video video {
  width: 600px;
  height: 600px;
}
.paragraph {
  width: 600px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  text-align: center;
  padding: 30px;
  margin: auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 19px;
  color: #171616;
  background-image: url(../images/pexels-photo-6610070.webp);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bolder;
}
.paragraph:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.contact-image {
  background-image: url(../images/pexels-photo-6610070.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.connexion-image {
  background-image: url(../images/DALL·E\ 2024-12-02\ 10.12.10\ -\ A\ sophisticated\ and\ elegant\ design\ for\ a\ bridal\ website\ background\,\ resembling\ the\ first\ image\ with\ a\ soft\ pastel\ color\ scheme\ in\ white\ and\ blush\ pink.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.inscription-image {
  background-color: #525050;
}

.detailsProduit {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: #3b3a3a;
  margin: auto;
}
.detailsProduit h2 {
  color: rgb(247, 242, 242);
  padding: 10px;
}
.detailsProduit p {
  color: rgb(247, 242, 242);
  padding: 10px;
}
.detailsProduit .prix {
  color: orangered;
}
#add-to-cart {
  background-color: #323030;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#add-to-cart:hover {
  background-color: #d0d3d0;
  color: #463c3c;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #b6b3b3;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: none;
  height: 120px;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #524c4c;
  color: rgb(246, 240, 240);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  text-decoration: none;
  margin: 10px;
}

.btn:hover {
  background-color: #444241;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-style: italic;
}

.profil {
  width: 600px;
  margin: 100px auto;
  border-radius: 8px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: #302e2e;
}
.profil:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.profil label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  color: #f9f7f7;
}

.profil input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.5s ease;
}

.profil input:focus {
  border-color: #60594d;
  box-shadow: 0 0 7px rgba(176, 147, 109, 0.5);
  outline: none;
}

.profil button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #3d3e3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.profil button:hover {
  background-color: #e3eaf1;
  transform: translateY(-2px);
  color: #211e1e;
}

.video_error {
  position: relative;
  width: 100%;
  min-height: 700px;
  overflow: hidden;
  padding: 220px;
}

.video_error video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 800px;
  object-fit: cover;
  z-index: -1;
}

#error_page {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 20px;
}

#error_page h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

#error_page p {
  font-size: 32px;
  color: #121212;
}

#error_page a {
  color: #a50707;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

#error_page a:hover {
  color: #ec0cd5;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #211e1e;
  color: #ecf0f1;
  padding: 20px 0;
  flex-wrap: wrap;
  border-top: 1px solid #333;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.footer ul li {
  margin: 5px 0;
}

.footer ul li a {
  text-decoration: none;
  color: #d0cbc9;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer ul li:hover {
  background-color: #555;
  color: #fff;
  border-radius: 5px;
}
