{% extends 'base.html.twig' %}

{% block title %}Hello AboutUsController!
{% endblock %}

{% block body %}

	<div class="aboutUs">
		<div class="video">
		<video src=url(../images/7301430-uhd_4096_2160_25fps (1).mp4) alt="Mariée jettent des fleurs.">
		</div>
		<div>
			<p></p>
		</div>
	</div>

{% endblock %}
