{% extends 'base.html.twig' %}

{% block title %}Hello RobesController!{% endblock %}

{% block body %}
{{ include('navbar/index.html.twig') }}
<h1>Robes De Mariage</h1>
<div class = "robes_liste">
{% for robe in robes%}


{% endfor%}


{% endblock %}
